<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <title>Document</title>
</head>

<body>
    <div class="row"></div>
    <script>
        $().ready(function () {
            $.ajax({
                type: "Get",
                url: "/Api/AdminProductApi",
                dataType: 'json',
                success: function (product, status, xhr) {
                    for (var rez of product) {
                        console.log(rez.Name);
                    }
                    // for (var product in result) {
                    //     $("row").append("<p>"+result.Name+"</p>");

                    // }
                    //  localStorage.setItem("jwt", result.token + ";expires= " + new Date(result.expiration).toUTCString() + "; path=/");
                },

                error: function (xhr, status, error) {
                    alert("Prob");

                }

            });
        });

    </script>
</body>

</html>